*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}
.main{
    margin: 2em 4em 0 4em;
}
.header{
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    background-color: #2874a6;
    padding: 1rem;
    border-radius: 8px;
    position: relative;
    z-index: 1000; 
}
#menu-check {
    display: none;
}
.nav {
  margin-top: 1rem;
}
.labelMenu {
    display: none;
    margin-right: 0.5em;
    cursor: pointer;
}
.lista{
    background-color: #f0f0f0;
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item-lista{
    margin: 0 2rem;
    border: #007bff solid 1px;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
}
.item-lista:hover{
  background-color: #d6eaf8;
  transform: scale(1.03);
}
.item-lista a{
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: block;
}
h2 {
  color: #2874a6;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  color: #444;
}
h4 {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #555;
}
.contenidos{
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
}
.ul{
    margin-left: 2em;
}
ol li p{
    display: flex;
    flex-direction: column;
}
p {
  margin-bottom: 1rem;
}
.Referencias{
    font-style: italic;
    text-decoration: none;
    color: #0059ff;
}
.ejemplo {
    color: #555;
  font-size: 0.95rem;
}
.imagenesEjemplos{
    width: 100px;
}
/* .contenidos:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ccc;

} */
    .contenedor{
        background-color: #e2e2e2;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .contenedor:hover{
        background-color: #dcdcdc;
        transition: background-color 0.3s ease;
        transform: scale(1.02);
    }
    .enlace{
        margin: 0 1rem;
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        font-size: 2rem;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .enlace:hover{
        color: #0056b3;
        text-decoration: underline;
        transition: color 0.3s ease-in ;
    }

.ejemplo, .ejemploContenedor {
  font-style: italic;
  background-color: #dfe6e9;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}
    footer{
        text-align: center;
        font-size: 1rem;
        background-color: #2874a6;
        color: #fff;
        padding: 2rem;
        margin-top: 3rem;
    }
@media screen and (max-width: 768px) {
    .header h1{
    font-size: 1.8rem;
    margin: 0;
    }
    #seo{
        padding: 1.5rem;
    }
    #usabilidadWeb{
        padding: 1.5rem;
    }
    #accesibilidadWeb{
        padding: 1.5rem;
    }
    .contenidos h2{
        font-size: 1.4rem;
    }
    .contenidos h3{
        font-size: 1.2rem;
    }
    .labelMenu {
        display: block;
        margin: 0;
    }
    .labelMenu img{
        display: flex;
        align-items: end;
        justify-content: end;
    }
    .lista {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .item-lista {
        margin: 0.5rem 0;
        width: 100%;
        text-align: center;
    }
    #menu-check:checked ~ .nav .lista {
        display: flex;
    }
}